<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Dojo Survey</title>
</head>
<body>
    <form action="survey" method="post">
        <div>
            <label for="name">Your Name:</label>
            <input type="text" name="name" id="name">
        </div>
        <div>
            <label for="location">Dojo Location:</label>
            <select name="location" id="location">
                <option value="here">Here</option>
                <option value="there">There</option>
                <option value="somewhere">Somewhere</option>
                <option value="nowhere">Nowhere</option>
            </select>
        </div>
    <div>
        <label for="language">Favorite Language:</label>
        <select name="language" id="language">
            <option value="javascript">JavaScript</option>
            <option value="cSharp">C#</option>
            <option value="java">Java</option>
            <option value="python">Python</option>
            <option value="other">Other</option>
        </select>
    </div>
    <div class="comment">
        <label for="comment">Comment (optional):</label>
        <textarea name="comment" id="comment" cols="10" rows="10"></textarea>
    </div>
    <input class="button" type="submit" value="Submit">
    </form>
</body>
</html>