<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/styles.css">
    <title>Home Page</title>
</head>
<body>
    <nav>
        <a class="this" href="/">Home</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav>
    <h1>About Me</h1>
    <main>
        <div>
            <img src="~/images/blankProfilePic.jpg" alt="blank profile">
            <h3>Jane Doe</h3>
            <p>I love to code!</p>
        </div>
        <div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas placeat debitis repellendus sapiente ab labore cum dolorem autem magnam fugiat rem vel nisi, qui molestias dolorum explicabo cumque accusamus recusandae.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas placeat debitis repellendus sapiente ab labore cum dolorem autem magnam fugiat rem vel nisi, qui molestias dolorum explicabo cumque accusamus recusandae.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas placeat debitis repellendus sapiente ab labore cum dolorem autem magnam fugiat rem vel nisi, qui molestias dolorum explicabo cumque accusamus recusandae.</p>
        </div>
    </main>
</body>
</html>