<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/styles2.css">
    <title>Projects Page</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/projects" class="this">Projects</a>
        <a href="/contact">Contact</a>
    </nav>
    <h1>My Projects</h1>
    <main>
        <div class="proj">
            <img src="~/images/projectPlaceholder.jpg" alt="Placeholder image">
            <div>
                <h3>Project 1</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta minus ratione autem consequuntur veniam error magnam, recusandae commodi expedita explicabo perferendis id ab, adipisci quia natus blanditiis nisi distinctio debitis.</p>
            </div>
        </div>
        <div class="proj">
            <img src="~/images/projectPlaceholder.jpg" alt="Placeholder image">
            <div>
                <h3>Project 2</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta minus ratione autem consequuntur veniam error magnam, recusandae commodi expedita explicabo perferendis id ab, adipisci quia natus blanditiis nisi distinctio debitis.</p>
            </div>
        </div>
        <div class="proj">
            <img src="~/images/projectPlaceholder.jpg" alt="Placeholder image">
            <div>
                <h3>Project 3</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta minus ratione autem consequuntur veniam error magnam, recusandae commodi expedita explicabo perferendis id ab, adipisci quia natus blanditiis nisi distinctio debitis.</p>
            </div>
        </div>
    </main>
</body>
</html>