<div class="container mt-5">
    <div class="row">
        <div class="col-lg mx-lg-5">
            <h1 class="text-center mb-5">Register</h1>
            @await Html.PartialAsync("_UserRegistration")
        </div>
        <div class="col-lg mx-lg-5">
            <h1 class="text-center mb-5">Login</h1>
            @await Html.PartialAsync("_UserLogin")
        </div>
    </div>
</div>