@{
    ViewData["Title"] = "Generate Passcode";
}


<div class="container d-flex flex-column justify-content-center align-items-center mt-5 h-100">
    <h1>Random Passcode #@Model</h1>
    <div class="card mt-4">
        <div class="card-body">
@{
    string values = "ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";
    char[] passcodeArr = new char[14];
    Random rand = new Random();
    for(int i = 0; i < passcodeArr.Length; i++){
        passcodeArr[i] = values[rand.Next(values.Length)];
    }
    string passcodeStr = new string(passcodeArr);
    <h1>@passcodeStr</h1>
}
        </div>
    </div>
    <form asp-action="Generate" asp-controller="Home" method="POST">
        <button class="btn btn-primary btn-lg mt-3">Generate</button>
    </form>
</div>
