body {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body nav {
  display: flex;
  width: 50%;
  text-align: center;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.5em;
}
body nav .this {
  text-decoration: none;
  color: black;
}
body main {
  display: flex;
}
body main div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main div p {
  margin: 1em;
}
