@{
    ViewData["Title"] = "Home Page";
}

@section Title{ 
    <div class="text-center mt-5">
        <h1 class="display-4">Welcome to CRUDelicious</h1>
    </div>
}
@model List<Dish>

    <div class="container text-start mt-5">
        <h2 class=" col-6 border-bottom">
            Check out some recent dishes
        </h2>
        <ul>
            @foreach(Dish dish in Model){
                <li class="d-flex fs-3 text">
                    <p><a asp-action="Details" asp-controller="Dish" asp-route-dishId="@dish.DishId">@dish.Name</a> by @dish.Chef</p>
                </li>    
            }
        </ul>
    </div>

