body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  width: 50%;
  margin: 0 auto;
  padding: 1em;
  margin-top: 2em;
}
body form,
body section {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
body .button {
  width: 20%;
}
body div {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: 2.5%;
}
body .comment {
  display: flex;
  flex-direction: column;
}
body .button,
body button {
  color: white;
  background-color: #3f6deb;
  box-shadow: 2px 2px black;
  border: 2px solid black;
}
