@model Category
<div class="container">
    <h1 class="text-center">New Category</h1>
    <form
    asp-controller="Categories"
    asp-action="New"
    method="post"
    >
        <div class="mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <button class="btn btn-primary mt-3">Create</button>
    </form>
</div>